<head>
  <h3>
    Post form
  </h3>
</head>

<%= bootstrap_form_for @trip do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-outline-secondary">
        <div class="card-body">
          <%= f.text_field :city %>
          <%= f.text_area :description %>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <%= f.submit(@trip.new_record? ? "Create" : "Update", class: "btn btn-primary") %>
<% end %>
