.navbar.navbar-expand-lg.navbar-light.bg-warning{
  margin-bottom: 50px;
}

.container.layout-container{
  padding-top: 50px;
}

.navbar-light .navbar-brand{
  color: #fff;
}

.navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color: #fff;
}
